<section infiniteScroll [infiniteScrollDistance]="0"
[infiniteScrollThrottle]="0"  (scrolled)="onScroll()">
  <div id="list-character" *ngFor="let character of characters">
    <div class="card">
      <div class="card-title">
        <h2 class="headline headline-2 color-text-white">{{character.name}}</h2>
      </div>
      <div>
        <img class="image" [src]="character.image">
      </div>
      <div class="info-top">
        <p class="body body-1 color-text-white">{{character.id}}</p>
      </div>
      <div class="card-info-center">
        <div class="info-left">
          <p class="body body-1 color-text-white">{{character.location.name}}</p>
          <p class="body body-1 color-text-white">{{character.status}}</p>
        </div>
        <div class="info-right">
          <p class="body body-1 color-text-white">{{character.species}}</p>
          <p class="body body-1 color-text-white">{{character.gender}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
