<po-page-default p-title="Rick And Morty" >
  <po-container class="po-lg-12 po-sm-12">
    <po-widget class="po-lg-12 po-sm-12" (p-click)="directToPage('characters')">
      <div class="po-font-subtitle po-text-center">Personagens</div>
    </po-widget>
    <po-widget class="po-lg-12 po-sm-12" (p-click)="directToPage('episodies')">
      <div class="po-font-subtitle po-text-center">Episodios</div>
    </po-widget>
    <po-widget class="po-lg-12 po-sm-12" (p-click)="directToPage('locations')">
      <div class="po-font-subtitle po-text-center">Locais</div>
    </po-widget>
  </po-container>
</po-page-default>
